#bar-chart {
  float: left;
  width: 550px;
  background: red;
  padding: 0px 10px;
  border: 1px solid black;
}

#circle {
  float: left;
  width: 400px;
  background: red;
  border: 1px solid black;  
}
